Repository mburatta/rn-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

RNWT01 Create weather and config tabs with empty screen
  android/app/build.gradle
  babel.config.js
  index.js
  ios/Podfile.lock
  ios/RnWeather/Info.plist
  jest.config.js
  jest/jest.setup.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/core/components/icon/Icon.tsx
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/navigation/Navigation.tsx
  src/br/weather/core/interfaces/NavItem.ts
  src/br/weather/core/interfaces/index.ts
  src/br/weather/core/services/NavigationService.ts
  src/br/weather/modules/settings/screens/SettingsScreen.spec.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.tsx
  src/br/weather/modules/settings/screens/index.ts
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  src/br/weather/modules/weather/screens/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

RNWT02 Integrate React Native UI Kitten components library
  babel.config.js
  index.js
  ios/Podfile.lock
  jest.config.js
  jest/jest.setup.d.ts
  jest/jest.setup.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/assets/jsons/br-weather-theme.json
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/layout/AppLayout.styles.ts
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/components/navigation/Navigation.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.spec.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

RNWT02 Integrate React Native UI Kitten components library (#3)
  babel.config.js
  index.js
  ios/Podfile.lock
  jest.config.js
  jest/jest.setup.d.ts
  jest/jest.setup.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/assets/jsons/br-weather-theme.json
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/layout/AppLayout.styles.ts
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/components/navigation/Navigation.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.spec.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

RNWT03 Create component WeatherItem, Add Storybook to project
  .env
  .storybook/index.ts
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/storybook.requires.ts
  Gemfile.lock
  babel.config.js
  ios/Podfile.lock
  metro.config.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/core/components/Button/Button.stories.tsx
  src/br/weather/core/components/Button/Button.tsx
  src/br/weather/core/components/index.ts
  src/br/weather/core/config/index.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.spec.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.stories.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.tsx
  src/br/weather/modules/weather/components/index.ts
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/services/weatherService.ts
  yarn.lock
Due: eslint --fix, prettier --write

RNWT03 Create Weather service
  package.json
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/config/index.ts
  src/br/weather/core/helpers/formatDate.spec.ts
  src/br/weather/core/helpers/formatDate.ts
  src/br/weather/core/helpers/index.ts
  src/br/weather/core/services/axios/Axios.ts
  src/br/weather/core/services/index.ts
  src/br/weather/modules/weather/interfaces/index.ts
  src/br/weather/modules/weather/interfaces/weatherData.ts
  src/br/weather/modules/weather/interfaces/weatherService.ts
  src/br/weather/modules/weather/services/index.ts
  src/br/weather/modules/weather/services/weatherService.spec.ts
  src/br/weather/modules/weather/services/weatherService.ts
  yarn.lock
Due: eslint --fix, prettier --write

RNWT03 Update Weather screen with all previews
  .storybook/storybook.requires.ts
  ios/Podfile.lock
  src/br/weather/core/components/index.ts
  src/br/weather/core/config/index.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.tsx
  src/br/weather/modules/weather/interfaces/weatherData.ts
  src/br/weather/modules/weather/screens/WeatherScreen.styles.ts
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  src/br/weather/modules/weather/services/weatherService.ts
Due: eslint --fix

RNWT03 Create fetch weather api from open weather map (#2)
  .env
  .storybook/index.ts
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/storybook.requires.ts
  Gemfile.lock
  babel.config.js
  ios/Podfile.lock
  metro.config.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/core/components/Button/Button.stories.tsx
  src/br/weather/core/components/Button/Button.tsx
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/config/index.ts
  src/br/weather/core/helpers/formatDate.spec.ts
  src/br/weather/core/helpers/formatDate.ts
  src/br/weather/core/helpers/index.ts
  src/br/weather/core/services/axios/Axios.ts
  src/br/weather/core/services/index.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.spec.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.stories.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.tsx
  src/br/weather/modules/weather/components/index.ts
  src/br/weather/modules/weather/interfaces/index.ts
  src/br/weather/modules/weather/interfaces/weatherData.ts
  src/br/weather/modules/weather/interfaces/weatherService.ts
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.styles.ts
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  src/br/weather/modules/weather/services/index.ts
  src/br/weather/modules/weather/services/weatherService.spec.ts
  src/br/weather/modules/weather/services/weatherService.ts
  yarn.lock
Due: eslint --fix, prettier --write

RNWT04 Update Layout of WeatherScreen and WeatherItem components
  README.md
  ios/Podfile.lock
  jest.config.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/layout/AppLayout.styles.ts
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/helpers/formatDate.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.spec.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.stories.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.styles.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.styles.ts
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  src/br/weather/modules/weather/services/weatherService.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

RNWT04 Update Layout of WeatherScreen and WeatherItem components (#4)
  README.md
  ios/Podfile.lock
  jest.config.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/layout/AppLayout.styles.ts
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/helpers/formatDate.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.spec.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.stories.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.styles.ts
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.styles.ts
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  src/br/weather/modules/weather/services/weatherService.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

RNWT5 Add theme mode menagement with context
  jest.config.js
  package.json
  src/br/weather/App.spec.tsx
  src/br/weather/App.tsx
  src/br/weather/core/components/Button/Button.spec.tsx
  src/br/weather/core/components/Button/Button.tsx
  src/br/weather/core/components/carousel/Carousel.tsx
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/layout/AppLayout.styles.ts
  src/br/weather/core/components/layout/AppLayout.tsx
  src/br/weather/core/components/navigation/Navigation.tsx
  src/br/weather/core/contexts/ModeContext.spec.tsx
  src/br/weather/core/contexts/ModeContext.ts
  src/br/weather/core/contexts/index.ts
  src/br/weather/core/hooks/UseMode.spec.ts
  src/br/weather/core/hooks/UseMode.ts
  src/br/weather/core/hooks/index.ts
  src/br/weather/core/interfaces/Mode.ts
  src/br/weather/core/interfaces/index.ts
  src/br/weather/modules/settings/components/DarkMode/DarkMode.spec.tsx
  src/br/weather/modules/settings/components/DarkMode/DarkMode.stories.tsx
  src/br/weather/modules/settings/components/DarkMode/DarkMode.tsx
  src/br/weather/modules/settings/components/index.ts
  src/br/weather/modules/settings/screens/SettingsScreen.spec.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.styles.ts
  src/br/weather/modules/weather/screens/WeatherScreen.spec.tsx
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  yarn.lock
Due: eslint --fix, prettier --write

RNWT5 Add theme mode menagement with @rematch
  README.md
  assets/screenshots/home-dark.png
  assets/screenshots/home-light.png
  src/br/weather/App.tsx
  src/br/weather/Store.ts
  src/br/weather/core/components/index.ts
  src/br/weather/core/components/loading/Loading.styles.ts
  src/br/weather/core/components/loading/Loading.tsx
  src/br/weather/core/models/Settings.ts
  src/br/weather/core/models/index.ts
  src/br/weather/modules/settings/components/DarkMode/DarkMode.spec.tsx
  src/br/weather/modules/settings/components/DarkMode/DarkMode.tsx
  src/br/weather/modules/settings/screens/SettingsScreen.spec.tsx
Due: eslint --fix, prettier --write

RNWT-6 Refactoring. Move config folder under src/br/weather path
  babel.config.js
  src/br/weather/config/index.ts
  src/br/weather/core/helpers/formatDate.spec.ts
  src/br/weather/core/helpers/formatDate.ts
  src/br/weather/modules/settings/screens/SettingsScreen.spec.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.spec.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.stories.tsx
  src/br/weather/modules/weather/components/WeatherItem/WeatherItem.tsx
  src/br/weather/modules/weather/interfaces/weatherData.ts
  src/br/weather/modules/weather/screens/WeatherScreen.tsx
  src/br/weather/modules/weather/services/weatherService.ts
  tsconfig.json
Due: eslint --fix, prettier --write

RNWT-6 Add i18next and react-i18next libraries
  ios/Podfile.lock
  package.json
  yarn.lock
Due: prettier --write

RNWT-6 Update the tsconfig file to support imports without wildcards
  tsconfig.json
Due: prettier --write

RNWT-6 Create configuration for redux dev tools
  package.json
  src/br/weather/Store.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.json) or (any of: *.md)
